$mainColor: #3c8dbc;
.m-dropArea {
    .row {
        box-sizing: content-box;
        min-height: 34px;
        flex: 1;
        -webkit-box-flex: 1;
        /*width: 960px;*/
        position: relative;
        border: solid 1px #ccc;
        margin-bottom: 5px;
        .line {
            position: absolute;
            width: 2;
            height: 100%;
            z-index: 10;
        }
    }
    .borderleft {
        border-left: dashed 2px $mainColor;
    }
    .borderright {
        border-right: dashed 2px $mainColor;
    }
    .addrow {
        padding: 0 15px;
        height: 40px;
        background-color: $mainColor;
        display: inline-block;
        line-height: 40px;
        color: #fff;
        border-radius: 5px;
        margin-right: 10px;
    }
    .module {
        &:hover {
            .option {
                display: block;
            }
        }
    }
    .option {
        display: none;
        width: 115px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(0,0,0,0.4);
        padding: 5px;
        color: #fff;
        border-bottom-left-radius: 5px;
        i {
            margin: 0 7px;
        }
    }
    .rowaction {
        line-height: 36px;
        width: 80px;
        margin-left: 5px;
        i {
            margin-left: 5px;
        }
    }
    .rowcontainer {
        display: flex;
        display: -webkit-box;
    }
}
