$mainColor: #3c8dbc;
.m-droparea {
    .rowcontainer {
        display: flex;display: -webkit-box-flex
    }
    .row {
        flex: 1;-webkit-box-flex: 1;
    }
    .outline {
        outline: dashed 1px $mainColor;outline-offset: 10px;
        &.row {
            margin: 25px 0;
        }
        .subrowcontainer:last-child .subRow {
            margin-bottom: 0;
        }
    }
    .subRow {
        position: relative;
        box-sizing: content-box;min-height: 34px;margin-bottom: 5px;border: solid 1px #ccc;
        .line {
            position: absolute;
            width: 2;height: 100%;z-index: 10;
        }
    }
    @for $i from 1 to 12 {
        .line:nth-child(#{$i}) {
            left:  $i / 12 * 100%;
        }
    }
    .borderleft {
        border-left: dashed 2px $mainColor;
    }
    .borderright {
        border-right: dashed 2px $mainColor;
    }
    .addrowcontainer {
        margin-top: 20px;
    }
    .addrow {
        display: inline-block;
        height: 40px;padding: 0 15px;margin-right: 10px;border-radius: 5px;
        line-height: 40px;color: #fff;background-color: $mainColor;
    }
    .module {
        &:hover {
            .option {
                display: flex;
            }
        }
    }
    .option {
        display: none;position: absolute;right: 0;top: 0;
        width: 88px;padding: 5px;border-bottom-left-radius: 5px;
        color: #fff;background-color: rgba(0,0,0,0.4);
        i {
            margin: 0 7px;
        }
    }
    .rowaction {
        display: flex;align-items: center;
        width: 26px;margin-left: 10px;
        i {
            margin-left: 5px;
        }
    }
    .addsubrow {
        i {
            font-size: 20px;color: $mainColor;
        }
    }
}
