$mainColor: #3c8dbc;
.drop-area {
    margin: 20px 0 50px 50px;
    .row {
        min-height: 36px;
        width: 962px;
        position: relative;
        border: solid 1px #ccc;
        margin-bottom: 5px;
        .line {
            position: absolute;
            width: 2;
            height: 100%;
            z-index: 10;
        }
    }
    .border-left {
        border-left: dashed 2px $mainColor;
    }
    .border-right {
        border-right: dashed 2px $mainColor;
    }
    .add-row {
        width: 70px;
        height: 40px;
        background-color: $mainColor;
        display: inline-block;
        line-height: 40px;
        color: #fff;
        border-radius: 5px;
    }
}
