.m-mainarea {
    position: relative;
    margin: 0 0 30px 30px;
    .addmodal {
        position: absolute;right: 75px;
    }
    .m-tabs .tabs_bd {
        border: none;box-shadow: none;-webkit-box-shadow: none;
    }
}

.m-nav {
    display:block;
    padding-left: 0px;margin-bottom: 30px;
    background:#e5e5e5;
    list-style: none;
    li {
        position: relative;display: block;float: left; overflow:hidden;
        margin-bottom: -1px;
        a {
            position: relative;display: block;
            height: 37px;padding: 10px 35px;line-height: 1.42857143;
            color: #000;cursor: pointer;text-decoration: none;
        }
        &.active a {
            background:$themeColor;
            color:#fff;cursor: default;
        }
        &.addIcon { float:right; margin-right:10px; }
        .winIcon { position:absolute; font-size:25px; color:#ccc; left:-5px; top:15px; }
        &.active .winIcon { color:#e5e5e5; }
    }
    .addModal {
        padding: 10px 15px;
        font-size: 18px;color: $themeColor;
    }
}