.m-mainarea {
    position: relative;
    .addmodal {
        position: absolute;right: 75px;
    }
    .m-tabs .tabs_bd {
        border: none;box-shadow: none;-webkit-box-shadow: none;
    }
}

.m-nav {
    display: inline-block;
    padding-left: 0px;margin-bottom: 10px;
    list-style: none;
    li {
        position: relative;display: block;float: left;
        margin-bottom: -1px;
        a {
            position: relative;display: block;
            padding: 10px 15px;line-height: 1.42857143;
            color: rgb(0, 0, 0);cursor: pointer;text-decoration: none;
        }
        &.active a, a:hover {
            border-bottom: 2px solid $themeColor;
            color: $themeColor; 
        }
        &.active a {
            cursor: default;
        }
    }
    i {
        padding: 10px 5px;
        font-size: 18px;color: $themeColor;
    }
}