.m-mainarea {
    position: relative; background:#fff;
    padding: 20px;
    .addmodal {
        position: absolute;right: 75px;
    }
    .m-tabs .tabs_bd {
        border: none;box-shadow: none;-webkit-box-shadow: none;
    }
}

.m-nav {
    display:block;
    list-style: none;
    li {
        position: relative;display: block;float: left; overflow:hidden;
        margin-bottom: -1px;
        a {
            position: relative;display: block;
            height: 37px;padding: 10px 35px;line-height: 1.42857143;
            color: #999;cursor: pointer;text-decoration: none;
        }
        &.active a {
          border-bottom: 3px solid $themeColor;
          color: $themeColor;
          cursor: default;
        }
    }
}
.m-winlist {
  background:#fff; margin:8px 0;
  .item {
    float:left; position:relative; height:70px; color:#999;
    padding:0px 40px; border-right:4px solid #efefef;
    line-height:70px; overflow:hidden; cursor:pointer;
    &.last { border-right:none; }
    &.addIcon { background:$themeColor; color:#fff; font-size:30px; }

    &.active { color:$themeColor; }
    .editBtn { position:absolute; bottom:3px; right:3px; line-height:20px; font-size:14px; }
  }
}