.m-modules {
    height: 100%;
    overflow: auto;
    background-color: #fff;
    .listwrap {
        height: calc(100% - 56px);
        overflow: auto;
    }
    .add {
        position: absolute;bottom: 0;
        width: 100%;margin: 0;padding: 10px;border-top: 1px solid #ddd;
        text-align: center;
    }
    .titie {
        position: relative;
        height: 40px;padding: 0 15px;line-height: 40px;
        font-weight: bold;color:$themeColor;cursor: pointer;
        i {
            position: absolute;right: 20px;
        }
    }
    .module {
        padding: 10px 35px;
        background-color: #fff;cursor: pointer;
        .module-edit {
            display: none;
        }
        &:hover {
            background-color: #eaf8fe;
            .module-edit {
                display: block;
            }
        }
    }
    .page {
        .page-edit {
            display: none;position: absolute;right: 10px;top: 50%;
            transform: translateY(-50%);
        }
        position: relative;
        padding:30px 45px 30px 30px; margin:10px;
        border:1px solid #ccc;color:#333;
        &.active, &:hover { 
            border:1px solid $themeColor; color:$themeColor;
        }
        &:hover {
            .page-edit {
                display: block;
            }
        }
    }
    img {
        width: 80px;height: 80px;
    }
}
.proxy-module {
    border: solid 1px $themeColor;
    text-align: center;color: $themeColor;
}
.title-header {
    text-align: center;
    font-size: 15px;
    margin: 20px 0;
}