.m-modules {
    height: 100%;
    overflow: auto;
    background-color: #fff;
    .titie {
        position: relative;
        height: 40px;padding: 0 15px;line-height: 40px;
        font-weight: bold;color:$themeColor;cursor: pointer;
        i {
            position: absolute;right: 20px;
        }
    }
    .module {
        padding: 10px 35px;
        background-color: #fff;cursor: pointer;
        .module-edit {
            display: none;
        }
        &:hover {
            background-color: #eaf8fe;
            .module-edit {
                display: block;
            }
        }
    }
    .page {
        padding:30px; margin:10px;
        border:1px solid $themeColor; color:$themeColor;
    }
    img {
        width: 80px;height: 80px;
    }
}
.proxy-module {
    border: solid 1px $themeColor;
    text-align: center;color: $themeColor;
}