/* 首页，工程列表 */
.m-home { 
    padding:20px 50px; font-weight:lighter;
    .title {
        font-size:20px;
    }
    .m-projects {
        margin-top:20px;
        .project {
            position:relative;
            float:left;
            width:300px;
            padding:20px 20px 20px 80px; margin:10px;
            background:#fff;
            .logo {
                position:absolute;
                left:0; top:0; bottom:0;
                width:60px;
                color:#fff; font-size:18px; text-align:center; line-height:90px; 
                &-0 { background:rgba(35, 135, 89,0.5); }
                &-1 { background:rgba(211, 0, 48,0.4); }
                &-2 { background:rgba(71, 156, 162,0.3); }
                &-3 { background:rgba(252, 216, 0,0.3); }
            }
            .name {
                font-size:16px;
            }
            .desc {
                font-size:12px;
            }
            .settings {
                margin-top:10px;
            }
        }
    }
}