<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Hello <%= username %>, Welcome to <%= title %></p>
    <a href="https://login.netease.com/connect/authorize?response_type=code&scope=openid fullname nickname email&client_id=2f13bca098f711e7b4f65cf3fc96a72c&redirect_uri=http://10.243.48.239:3000/login">登录</a>
</body>
</html>
